<ion-view view-title="Relevamiento Metrobus">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Parador</span>
                <input ng-model="station" type="text" placeholder="Ingrese parador a relevar">
            </label>
            <button ng-disabled="!station" ng-click="track(station)" class="button button-block button-positive">
                Relevar
            </button>
        </div>
    </ion-content>
</ion-view>
