.tracking {
    .track-buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 57px;
        .button {
            line-height: 45px;
            font-size: 19px;
        }
    }
    .milestone {
        input[readonly] {
            background-color: white;
        }
        .times {
            text-align: center;
        }
    }
}
